| Se ficar com alguma dúvida, você pode conferir a nossa #{link_to " Central de Suporte", "http://ineksepeti.com/"} ou enviar a sua pergunta para a nossa equipe, através #{link_to 'deste link', 'http://ineksepeti.com/hc/pt-br/requests/new'}.
br/
br/
| Abraços,
br/
| Equipe do #{CatarseSettings[:company_name]}
